@font-face {
    font-family: Popins;
    src: url("../fonts/Poppins-Thin.ttf");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Material-Icons.woff2") format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-size: 40px;
    color: gray;
    margin: 5px;
    display: inline-block;
  }

  .action-icons{
      font-size: 25px;
  }


@keyframes logo-anim {
    0% {
        background-image: url("../pictures/man-logo.svg");
    }
    100% {
        background-image: url("../pictures/woman-logo.svg");
    }
}

body{
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f4f4c4;
    background-image: url("../pictures/background-pattern 3.png");

}

.head{
    height: 70px;
    display: block;
    width: 100%;
    background-color: #ffffffba;
    border-bottom: 1px solid rgba(128, 128, 128, 0.408);
}


input, textarea, .selects {
    width: 250px;
    height: 30px;
    min-width: 80px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 0 0 5px lightgray;
}
textarea{
    height: auto;
    min-height: 45px;
    padding: 15px 20px;
}

.selects{
    height: 35px;
    padding: none;
}

select {
    height: auto;
    min-height: 25px;
    padding: 10px 20px;
    border: none;
    background: white;
    width: 100%;
}
select:focus-visible{
    border: none;
    outline: none;
}


input:hover,textarea:hover, .selects:hover{
    box-shadow: 0 0 5px rgb(101, 152, 248);
}

input[type=file]::file-selector-button{
    border: 1px solid #c1c1c2;
    padding: 5px;
    border-radius: 5px;
    background-color: #e2e0ff;
    transition: 0.5s;
}
input[type=file]::file-selector-button:hover{
    background-color: #c8c5fc;
}

input:focus-visible, textarea:focus-visible{
    border:1px solid lightgray;
    outline: none;
    box-shadow: 0 0 5px rgb(65, 62, 247);
}

.head .login{
    margin: 15px;
    float:right;
    width:110px;
}


.head .login .login-logo{
    width: 30px;
    height: 30px;
    animation: logo-anim 4s ease-in-out alternate infinite;
    display: inline-block;
}
.head .login a.login-btn{   
    font-size: small;
    font-weight:bold;
    color: rgb(68, 68, 68);
   
}

.head .logo{
    float: left;
    margin: 5px 40px;
    padding: none;
    width: 110px;
    height: 60px;
    display: block;
}

.main {
    text-align: center;
    margin: 100px 0 20px 200px; 
}
.main-index {
    box-sizing: content-box;
    text-align: center;
    caret-color: transparent;
    margin: 0 10% 0 10%;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.justify-text{
    text-align: justify;
}
.page-title{
    font-size: 4em;
    padding-bottom: 40px;
}

.page-title-index{
    font-size: 4em;
    padding-bottom: 20px;
}

.sidebar{
    position: fixed;
    top:100px;
    height: calc(100vh - 100px);
    background-color: rgb(255, 255, 255);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 5px #c7c7c7ab;
    padding-left: 10px;
}

.sidebar-small{
    display:none;
    padding-right: 10px;
}
.sidebar-big{
    width:180px;
}
.sidebar-icon{
    position:relative;
    display: block;
    margin: 10px 5px 0;
    border-radius: 5px;
}
.sidebar-icon:hover{
    background-color: rgba(219, 226, 250, 0.801);
    transition: 0.3s;
    cursor: pointer;
}

.sidebar-icon.sidebar-settings{
    position: absolute;
    bottom: 20px;
    width: 165px;
}

.sidebar-names{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    padding-left: 10px;
}

.main-body {
    margin: 0 200px 0 0;
}


table {
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 5px #5f5f5fab;
    border-radius: 10px;
    min-width: 320px;
}

table th{
    background-color: rgba(198, 227, 255, 0.651);
}
table th.service-name{
    min-width: 250px;
}
table th,td{
    padding: 5px 10px;
}

table tr:not(:first-child):hover{
    background-color: rgb(240, 240, 240);
    transition: 0.3s;
    cursor: pointer;
}
table,th {
    min-width: 75px;
    border-bottom: 3px solid gray;
    border-collapse: collapse;
    height: 40px;
}
table,td {
    border-bottom: 1px solid gray;
}
tr:last-child td{
    border:none;
}


table .action-icons{
    cursor: pointer;
}


table .action-icons:hover{
    color: lightsalmon;
}



.services-list{
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin: 30px 20px;
    text-align: left;
}

.edit-service{  
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin: 30px 20px;
}

.box{
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 5px #5f5f5fab;
}

.box .box-head{
    color: rgb(53, 53, 53);
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px;
}

.box .box-body{
    margin-top: 10px;
    padding: 5px;
}
.form-inline{
    display: inline-block;
}
.form-input{
    display: block;
    margin: 15px 10px;
}
.form-input-inline{
    display: inline-block;
    margin: 15px 10px;
}

.form-input-btn{
    width: auto;
    
}

.submit-btn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;   
}

.right{
    text-align: right;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}

.boxs{
    text-align: left;
}

.box-item{
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 250px;
    color: rgb(70, 69, 69);
    cursor: pointer;
    margin: 20px;
}
.box-item:hover{
    box-shadow: 0 0 10px blue;
}
.box-item-name{
    font-weight: bold;
    font-size: 1.4em;
    
}
.box-item-date{
    font-size: 1.1em;
}
.box-item-time{
    font-size: 1.3em;
}

.box-item-img img{
    width: 150px;
    height: 150px;
}

.form-group {
    display: inline-block;
}

.input-search {
    margin:10px;
    padding: 0 0 0 20px;
    text-align: left;
    height: 45px;
    min-width: 80px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray;
    background-color: white;
}

.input-search:hover{
    box-shadow: 0 0 5px rgb(101, 152, 248);
}


.input-search > input{
    height: 45px;
    width: 80%;
    border-radius: 10px 2px 2px 10px;
    padding: 0;
    border: none;
    box-shadow: none;
}
.input-search-magnify{
   float: right;
   font-size: 35px;
   cursor: pointer;
}

.new-box-form {
    min-width: 250px; 
    width: 400px;
    padding: 20px 20px;
}

.new-box-description{
    margin: 10px;
    width: 85%;
}

.new-box-date-label{
    padding:10px 0 0 10px;
    text-align: left;
    font-weight: bold;
    color: rgb(105, 104, 104);   
}
.new-box-date{
    float: right;
}


.login-form {
    min-width: 250px; 
    padding: 20px 20px;
}


.new-client-img{
    width: 100px;
    height: 100px;
}

.color-text-1{
    color:#5d78ff
}

.color-text-2{
    color:#4ccfe2
}

.index-img{
    max-width: 500px;
}

.social-wraper{
    position: sticky;
}



.social {
    position: fixed;
    right:10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .social-link{
    text-decoration:none;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
  }
  
.social-img{
    margin: 10px;
    width: 30px;
}
  .icon-bar a:hover {
    background-color: #000;
  }

  a.decoration-none {
    text-decoration: none;
    
  }


@media screen and (max-width : 960px){
    .main {
        margin: 100px 70px 20px; 
    }

    .sidebar-big{
        display: none;
    }
    .sidebar-small{
        display: block;
    }
    .sidebar-icon.sidebar-settings{
        width: 50px;
    }

    .main-body{
        margin: 10px 20px 30px 20px;
    }

    .boxs{
        text-align: center;
    }
}
@media screen and (max-width : 700px){
    .main {
        margin: 100px 0 0 0; 
    }
    /* .head .logo {
        display: none;
    } */

    .head .search {
        float: left;
    }

    .sidebar-small{
        display: none;
    }

    
    .sidebar:hover > .sidebar-big{
        display: block;
    }
    .sidebar-icon.sidebar-settings{
        width: 165px;
    }

    table {
        min-width: 220px;
    }
    table th.service-name{
        min-width: 0;
    }
  
}

@media screen and (max-width : 470px){
    .head .search{
        display: none;
    }
}
